body {
      background-color: #006aff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: 'Segoe UI', sans-serif;
    }

    .form-container {
      background-color: #fff;
      padding: 2rem;
      border-radius: 1.5rem;
      width: 100%;
      max-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .form-container h2 {
      margin-bottom: 1.5rem;
      text-align: center;
      color: #006aff;
    }

    .form-container h1 {
      margin-bottom: 1.5rem;
      text-align: center;
      color: #006aff;
    }


    .form-group {
      margin-bottom: 1rem;
    }

    label {
      font-weight: 600;
      display: block;
      margin-bottom: 0.25rem;
      color: #333;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      border-radius: 0.75rem;
      border: 1px solid #ccc;
      font-size: 1rem;
    }

    .btn {
      background-color: #006aff;
      color: #fff;
      border: none;
      padding: 0.75rem;
      width: 100%;
      border-radius: 1rem;
      font-weight: 600;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn:hover {
      background-color: #0051cc;
    }

    .link {
      margin-top: 1rem;
      text-align: center;
    }

    .link a {
      color: #006aff;
      text-decoration: none;
      font-weight: 600;
    }